<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tipper</title>
</head>
<body>


  <form action="results" method="get" >

    <p>
      Price: <input type ="number" step=".01" name="price">
    </p>
    <p>
      Satifaction: &#129314; <input type="range" name="satisfaction" min="10" max="30" >
      &#128522;
    </p>
    <p>
      <input type="submit" value="Calculate">
    </p>
  </form>
  
</body>
</html>